img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h1 { color: #9ACD32 ; font-family: 'Papyrus', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h2,h3 { color: #FF6347; font-family: 'Lucida Handwriting', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center;}
p { color: #D2691E; font-family: 'Helvetica', sans-serif; font-size: 20px; font-weight: 100; line-height: 22px; margin: 0 0 72px; text-align: center; }
ol{ color: #D2691E; font-family: 'Helvetica' text-align: left;font-size: 20px; }
 

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

body {
background: rgba(0, 128, 0, 0.1)}

.red {
	color: red;
}	

.bigFont{
	font-size: 32px;
}

#specialStyle {
	width:30%;
	border: 2px solid red;
	background-color: yellow;
}

